/z4/generated
/z4/results
/venv
/databases/
*.db
.idea/diploma.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
*/__pycache__/
app/controllers/__pycache__/*
app/dto/__pycache__/*
app/models/__pycache__/*
app/services/__pycache__/*
migrations/
uploads/
db_config.json
app/repositories/__pycache__/*
app/utils/__pycache__/*
