int S = 99, S1=100;

real Chord={{Chord1}};
real Chord2={{Chord2}};
real RC=1.*Chord;

border C(t=0, 2*pi){x=Chord/2.+RC*cos(t); y=RC*sin(t);}

real xOffset = (Chord - Chord2) / 10;
real theta = 15*pi/180;
real [int,int] R = [[cos(theta), -sin(theta)], [sin(theta), cos(theta)]];

real[int] coeffsUp(10);
real[int] coeffsLow(10);
real[int] coeffsUp2(10);
real[int] coeffsLow2(10);

ifstream fl("out_L.csv");
for(int i=0; i<coeffsUp.n; i++) fl >> coeffsUp(i);
for(int i=0; i<coeffsLow.n; i++) fl >> coeffsLow(i);
for(int i=0; i<coeffsUp2.n; i++) fl >> coeffsUp2(i);
for(int i=0; i<coeffsLow2.n; i++) fl >> coeffsLow2(i);

func real Lezh(real[int] L,real t){
    real[int] y(10);
    y(0)=1.; y(1)=t; y(2)=(3.*t^2-1.)/2.;
    y(3)=(5.*t^3-3.*t)/2.; y(4)=(35.*t^4-30.*t^2+3.)/8.;
    y(5)=(63.*t^5-70.*t^3+15.*t)/8.;
    y(6)=231./16.*t^6-315./16.*t^4+105./16.*t^2-5./16.;
    y(7)=429./16.*t^7-693./16.*t^5+315./16.*t^3-35./16.*t;
    y(8)=6435./128.*t^8-3003./32.*t^6+3465./64.*t^4-315./32.*t^2+35./128.;
    y(9)=12155./128.*t^9-6435./32.*t^7+9009./64.*t^5-1155./32.*t^3+315./128.*t;
    return L'*y;
}

func real[int] ContUp(real delt, real t, real dt){
    real[int] x0(2),x1(2);
    real norm;
    x0(0)=Chord*dt;
    x0(1)= Chord*(Lezh(coeffsUp,t+dt)-Lezh(coeffsUp,t));
    norm=sqrt(x0(0)^2+x0(1)^2);
    x0=x0/norm;
    x1(0)=x0(1)*delt;
    x1(1)=-x0(0)*delt;
    x1(0)+=Chord*t;
    x1(1)+=Chord*Lezh(coeffsUp,t);
    return x1;
}

func real[int] ContLw(real delt, real t, real dt){
    real[int] x0(2), x1(2);
    real norm;
    x0(0)=Chord*dt;
    x0(1)= Chord*(Lezh(coeffsLow,t+dt)-Lezh(coeffsLow,t));
    norm=sqrt(x0(0)^2+x0(1)^2);
    x0=x0/norm;
    x1(0)=x0(1)*delt;
    x1(1)=-x0(0)*delt;
    x1(0)+=Chord*t;
    x1(1)+=Chord*Lezh(coeffsLow,t);
    return x1;
}

real xblade=Chord*0.25, yblade1=Chord*(Lezh(coeffsUp,0.5)+Lezh(coeffsLow,0.5))/2;

real yUp = Chord * Lezh(coeffsUp, 0.5);
real yLow = Chord * Lezh(coeffsLow, 0.5);
real yblade = (yUp + yLow) / 2.0;

real ySmallUp = Chord2 * Lezh(coeffsUp2, 0.5);
real ySmallLow = Chord2 * Lezh(coeffsLow2, 0.5);
real ySmallUpLow = (ySmallUp + ySmallLow) / 2.0;
real yOffset = yblade - ySmallUpLow + 0.3;

real xCenterSmall = xOffset + Chord2 / 2;
real yCenterSmall = yOffset;

func real rotateX(real x, real y, real xCenter, real yCenter) {
    return xCenter + (x - xCenter) * R(0,0) + (y - yCenter) * R(0,1);
}
func real rotateY(real x, real y, real xCenter, real yCenter) {
    return yCenter + (x - xCenter) * R(1,0) + (y - yCenter) * R(1,1);
}

border Splus(t=1., 0.){x=Chord*t; y=Chord*Lezh(coeffsUp,t); label=S;}
border Sminus(t=0., 1.){x=Chord*t; y=Chord*Lezh(coeffsLow,t); label=S;}
border Spm(t=1.,0.){x=0;y=Chord*Lezh(coeffsLow,0)+t*Chord*(Lezh(coeffsUp,0)-Lezh(coeffsLow,0)); label=S;}
border Smp(t=0.,1.){x=Chord;y=Chord*Lezh(coeffsLow,1)+t*Chord*(Lezh(coeffsUp,1)-Lezh(coeffsLow,1)); label=S;}

border Splus2(t=1., 0.){
    real xLocal = xOffset + Chord2 * t;
    real yLocal = yOffset + Chord2 * Lezh(coeffsUp2,t);
    x = rotateX(xLocal, yLocal, xCenterSmall, yCenterSmall);
    y = rotateY(xLocal, yLocal, xCenterSmall, yCenterSmall);
    label=S1;
}
border Sminus2(t=0., 1.){
    real xLocal = xOffset + Chord2 * t;
    real yLocal = yOffset + Chord2 * Lezh(coeffsLow2,t);
    x = rotateX(xLocal, yLocal, xCenterSmall, yCenterSmall);
    y = rotateY(xLocal, yLocal, xCenterSmall, yCenterSmall);
    label=S1;
}
border Spm2(t=1.,0.){
    real xLocal = xOffset;
    real yLocal = yOffset + Chord2 * Lezh(coeffsLow2,0) + t * Chord2 * (Lezh(coeffsUp2,0)-Lezh(coeffsLow2,0));
    x = rotateX(xLocal, yLocal, xCenterSmall, yCenterSmall);
    y = rotateY(xLocal, yLocal, xCenterSmall, yCenterSmall);
    label=S1;
}
border Smp2(t=0.,1.){
    real xLocal = xOffset + Chord2;
    real yLocal = yOffset + Chord2 * Lezh(coeffsLow2,1) + t * Chord2 * (Lezh(coeffsUp2,1)-Lezh(coeffsLow2,1));
    x = rotateX(xLocal, yLocal, xCenterSmall, yCenterSmall);
    y = rotateY(xLocal, yLocal, xCenterSmall, yCenterSmall);
    label=S1;
}

int NC={{NC}};
int NSp={{NSp}};
int NSm={{NSm}};
int NSpm={{NSpm}};

plot(C(NC), Splus(NSp), Spm(2), Sminus(NSm), Smp(NSpm), Splus2(-NSp), Spm2(-NSpm), Sminus2(-NSm), Smp2(-NSpm), wait=0, ps="./plots/Contour.eps");
mesh Th = buildmesh(C(NC)+Splus(NSp) + Spm(NSpm) + Sminus(NSm) + Smp(NSpm) + Splus2(-NSp) + Spm2(-NSpm) + Sminus2(-NSm) + Smp2(-NSpm));
plot(Th, wait=0, ps="./plots/Mesh.eps");

int steel = Th(xblade, yblade1).region, air = Th(-RC/2., -RC/2.).region;
cout<<steel<<" "<<air<<endl;

real[int] ai = [{{a_steel}}, {{a_air}}];
func real a0() { if(Th(x,y).region == steel) return ai[0]; else return ai[1]; }

real[int] T0i = [{{T_initial_steel}}, {{T_initial_air}}];
func real T0() { if(Th(x,y).region == steel) return T0i[0]; else return T0i[1]; }

real Time={{Time}};
real dt={{dt}};
int Niter = int(Time/dt);
int Nplot={{Nplot}};
int dNplot = Niter/Nplot;

fespace Vh(Th, P2);
Vh T=T0(), T00=T0(), v, Told, u1, u2, uu, vv, Sig1,Sig2,Sig12, Eps1, Eps2, Eps12;

problem thermic(T, v)
    = int2d(Th)( T*v/dt + a0()*(dx(T)*dx(v)+dy(T)*dy(v)) )
    - int2d(Th)( Told*v/dt )
    - int1d(Th, C)( 0. * v )
    - int1d(Th, 100)( 0. * v );

int i=0,k=0;
for(real t=0; t<=Time; t+=dt) {
    Told = T;
    thermic;
    i++;
    if (i%dNplot == 0){
        cout << i << endl;
        string fileplotName = "./plots/ThermalDistrib_" + t + "_.eps";
        plot(T, value=true, fill=true, ps=fileplotName, wait=0);
        k++;
    }
}
plot(T, value=true, fill=true, ps="./plots/ThermalDistrib.eps", wait=0);
Vh Tsteel=T*(region==steel);
Vh Tair=T*(region==air);
cout<<"max T steel= "<<Tsteel[].max<<endl;
cout<<"max T air= "<<Tair[].max<<endl;

// ========== Вывод TFout.csv (температура по контуру) ==========
ofstream ffT("TFout.csv");
for(real tt = 1; tt >= 0; tt -= dt1) {
    real xdc = ContUp(0., tt, dt1)(0);
    real ydUp = ContUp(0., tt, dt1)(1);
    real ydLw = ContLw(0., tt, dt1)(1);
    if (ydUp > ydLw) {
        ffT << xdc << " " << T(xdc, ydUp) << " " << T(xdc, ydLw) << endl;
    }
}