int S1 = {{S1}};
int S2 = {{S2}};
real Chord1 = {{Chord1}};
real Chord2 = {{Chord2}};
real RC = 3. * Chord1;

border C(t=0, 2*pi){ x = Chord1/2. + RC*cos(t); y = RC*sin(t); }

load "iovtk"
int plotCounter = 0;
string plotName;

real[int] allCoeffs(40);
ifstream fl("out_L.csv");
for(int i=0; i<40; i++) fl >> allCoeffs(i);
fl.close();

real[int] coeffsUp1(10), coeffsLow1(10), coeffsUp2(10), coeffsLow2(10);
for(int i=0; i<10; i++) {
    coeffsUp1(i) = allCoeffs(i);
    coeffsLow1(i) = allCoeffs[10+i];
    coeffsUp2(i) = allCoeffs[20+i];
    coeffsLow2(i) = allCoeffs[30+i];
}

func real Lezh(real[int] L, real t) {
    real[int] yy(10);
    yy(0)=1.; yy(1)=t; yy(2)=(3.*t^2-1.)/2.; yy(3)=(5.*t^3-3.*t)/2.;
    yy(4)=(35.*t^4-30.*t^2+3.)/8.; yy(5)=(63.*t^5-70.*t^3+15.*t)/8.;
    yy(6)=231./16.*t^6-315./16.*t^4+105./16.*t^2-5./16.;
    yy(7)=429./16.*t^7-693./16.*t^5+315./16.*t^3-35./16.*t;
    yy(8)=6435./128.*t^8-3003./32.*t^6+3465./64.*t^4-315./32.*t^2+35./128.;
    yy(9)=12155./128.*t^9-6435./32.*t^7+9009./64.*t^5-1155./32.*t^3+315./128.*t;
    return L'*yy;
}

border Splus1(t=0., 1.){ x = Chord1*t; y = Chord1*Lezh(coeffsUp1,t); label = S1; }
border Sminus1(t=1., 0.){ x = Chord1*t; y = Chord1*Lezh(coeffsLow1,t); label = S1; }
border Spm1(t=0,1.){ x = 0; y = Chord1*Lezh(coeffsLow1,0) + t*Chord1*(Lezh(coeffsUp1,0)-Lezh(coeffsLow1,0)); label = S1; }
border Smp1(t=1.,0.){ x = Chord1; y = Chord1*Lezh(coeffsLow1,1) + t*Chord1*(Lezh(coeffsUp1,1)-Lezh(coeffsLow1,1)); label = S1; }

real xOff = Chord1*0.1;
real yOff = Chord1*(Lezh(coeffsUp1,0.5)+Lezh(coeffsLow1,0.5))/2.
          - Chord2*(Lezh(coeffsUp2,0.5)+Lezh(coeffsLow2,0.5))/2.;  // ← добавлена ;

border Splus2(t=0., 1.){ x = xOff + Chord2*t; y = yOff + Chord2*Lezh(coeffsUp2,t); label = S2; }
border Sminus2(t=1., 0.){ x = xOff + Chord2*t; y = yOff + Chord2*Lezh(coeffsLow2,t); label = S2; }
border Spm2(t=0,1.){ x = xOff; y = yOff + Chord2*Lezh(coeffsLow2,0) + t*Chord2*(Lezh(coeffsUp2,0)-Lezh(coeffsLow2,0)); label = S2; }
border Smp2(t=1.,0.){ x = xOff + Chord2; y = yOff + Chord2*Lezh(coeffsLow2,1) + t*Chord2*(Lezh(coeffsUp2,1)-Lezh(coeffsLow2,1)); label = S2; }

real xblade = Chord1*0.25;
real yblade = Chord1*(Lezh(coeffsUp1,0.5)+Lezh(coeffsLow1,0.5))/2.;

mesh Th = buildmesh(
    C({{NC}})
    + Splus1({{NSp}}) + Spm1({{NSpm}}) + Sminus1({{NSm}}) + Smp1({{NSpm}})
    + Splus2(-{{NSp}}) + Spm2(-{{NSpm}}) + Sminus2(-{{NSm}}) + Smp2(-{{NSpm}})
);

plotCounter++; plotName = "plot_"+plotCounter+".eps";
plot(Th, wait=0, ps=plotName);

int steel = Th(xblade, yblade).region;
int air   = Th(-RC/2., -RC/2.).region;

real dt = {{dt}};
real nbT = {{nbT}};
real aSteel = {{a_steel}};
real aAir = {{a_air}};
real Tinitial = {{T_initial}};
real Tinitialair = 25.0;

fespace Vh(Th, P2);
Vh T = Tinitial*(region==steel) + Tinitialair*(region==air), Told, v;
func real a0() { return (region==steel) ? aSteel : aAir; }

problem thermic(T, v)
    = int2d(Th)( T*v/dt + a0()*(dx(T)*dx(v) + dy(T)*dy(v)) )
    - int2d(Th)( Told*v/dt )
    + on(C, T=Tinitialair);

for(int i=0; i<nbT; i++) {
    Told = T;
    thermic;
}

real b = {{b}};
real nu = {{nu}};
real Esteel = {{E_steel}};
real Eair = 1e-5;
real KLT = {{KLT}};

func real Emod() { return (region==steel) ? Esteel : Eair; }
func real Kmod() { return -Emod()/(3.*(2.*nu - 1.)); }
func real mumod() { return Emod()/(2.*(1.+nu)); }
func real lammod() { return Emod()*nu/((1.+nu)*(1.-2.*nu)); }

real sqrt2 = sqrt(2.);

macro epsilon(u1,u2) [dx(u1), dy(u2), (dy(u1)+dx(u2))/sqrt2] //
macro divg(u1,u2) (dx(u1)+dy(u2)) //
macro sig1(u1,u2) lammod()*divg(u1,u2) - 3.*Kmod()*KLT*(T-Tinitial)*(region==steel) + 2.*mumod()*dx(u1) //
macro sig2(u1,u2) lammod()*divg(u1,u2) - 3.*Kmod()*KLT*(T-Tinitial)*(region==steel) + 2.*mumod()*dy(u2) //
macro sig12(u1,u2) mumod()*(dx(u2)+dy(u1)) //
macro eps1(u1) dx(u1) //
macro eps2(u2) dy(u2) //
macro eps12(u1,u2) (dx(u2)+dy(u1))/2. //

fespace Wh(Th, P2);
Wh u1, u2, uu, vv;

solve lame([u1, u2], [uu, vv])
    = int2d(Th)( lammod()*divg(u1,u2)*divg(uu,vv)
               + 2.*mumod()*(epsilon(u1,u2)'*epsilon(uu,vv)) )
    - int2d(Th)( 3.*Kmod()*KLT*(T-Tinitial)*(region==steel)*divg(uu,vv) )
    + on(S1, u1=0, u2=0)
    + on(S2, u1=0, u2=0);

Wh Sig1  = sig1(u1,u2);
Wh Sig2  = sig2(u1,u2);
Wh Sig12 = sig12(u1,u2);
Wh Eps1  = eps1(u1);
Wh Eps2  = eps2(u2);
Wh Eps12 = eps12(u1,u2);

plotCounter++; plotName = "plot_"+plotCounter+".eps"; plot(Sig1, wait=0, fill=1, value=1, ps=plotName);
plotCounter++; plotName = "plot_"+plotCounter+".eps"; plot(Sig2, wait=0, fill=1, value=1, ps=plotName);
plotCounter++; plotName = "plot_"+plotCounter+".eps"; plot(Sig12, wait=0, fill=1, value=1, ps=plotName);

real delt = {{delt}};
int Npt = {{Npt}};
real dt1 = 1.0/Npt;

ofstream ff0("Profout.csv");
ofstream ff1("TSout.csv");
ofstream ff2("TEpsout.csv");

func real[int] ContUp(real d, real t) {
    real[int] x0(2), x1(2);
    real nn;
    x0(0) = Chord1*dt1;
    x0(1) = Chord1*(Lezh(coeffsUp1, t+dt1) - Lezh(coeffsUp1, t));
    nn = sqrt(x0(0)^2 + x0(1)^2);
    if (nn < 1e-10) nn = 1e-10;
    x0 = x0/nn;
    x1(0) = x0(1)*d + Chord1*t;
    x1(1) = -x0(0)*d + Chord1*Lezh(coeffsUp1, t);
    return x1;
}

func real[int] ContLw(real d, real t) {
    real[int] x0(2), x1(2);
    real nn;
    x0(0) = Chord1*dt1;
    x0(1) = Chord1*(Lezh(coeffsLow1, t+dt1) - Lezh(coeffsLow1, t));
    nn = sqrt(x0(0)^2 + x0(1)^2);
    if (nn < 1e-10) nn = 1e-10;
    x0 = x0/nn;
    x1(0) = x0(1)*d + Chord1*t;
    x1(1) = -x0(0)*d + Chord1*Lezh(coeffsLow1, t);
    return x1;
}

for(int k=0; k<=Npt; k++) {
    real t = 1.0 - k*dt1;

    real xc   = ContUp(0., t)(0);
    real yUp  = ContUp(0., t)(1);
    real yLw  = ContLw(0., t)(1);
    real xdc  = ContUp(delt, t)(0);
    real ydUp = ContUp(delt, t)(1);
    real ydLw = ContLw(-delt, t)(1);

    if (ydUp > ydLw) {
        ff0 << xc << " " << yUp << " " << yLw << " " << xdc << " " << ydUp << " " << ydLw << endl;
        ff1 << xdc << " " << ydUp << " " << T(xdc,ydUp) << " " << Sig1(xdc,ydUp) << " " << Sig2(xdc,ydUp) << " " << Sig12(xdc,ydUp)
            << " " << ydLw << " " << T(xdc,ydLw) << " " << Sig1(xdc,ydLw) << " " << Sig2(xdc,ydLw) << " " << Sig12(xdc,ydLw) << endl;
        ff2 << xdc << " " << ydUp << " " << T(xdc,ydUp) << " " << Eps1(xdc,ydUp) << " " << Eps2(xdc,ydUp) << " " << Eps12(xdc,ydUp)
            << " " << ydLw << " " << T(xdc,ydLw) << " " << Eps1(xdc,ydLw) << " " << Eps2(xdc,ydLw) << " " << Eps12(xdc,ydLw) << endl;
    }
}

ff0.close();
ff1.close();
ff2.close();

savevtk("result.vtk", Th, T, Sig1, Sig2, Sig12, Eps1, Eps2, Eps12, dataname="ThermoElastic");